@{
    ViewBag.Title = "Rejestracja";
  
}
<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Zarejestrowano pomyślnie</h2>
            </div>
            <div class="card-body">
                @Html.ActionLink("Zaloguj się", "Login", "Home")
            </div>
        </div>
    </div>
</div>