@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
    --niebieski:rgb(15, 50, 230);
}

body {
    margin: 0px;
    padding-top: 0px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    text-align: justify;
    text-justify: auto;
}

.header {
    text-align: center;
    background-color:  var(--niebieski);
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 25px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

fieldset {
    background-color:  var(--niebieski);
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px darkgray;
    margin-top: 15px;
}

legend{
    border: 3px dashed white;
    border-radius: 10px;
    background-color: var(--niebieski);
    padding: 3px;
}

#WF, #WD {
    border-radius: 10px;
    border: 2px solid white;
    margin: 2px;
    width: 50%;
    height: 40px;
    color: white;
    background-color: var(--niebieski);
}
#WF, #WD:hover {
    filter: brightness(200%);
}

.textowe {
    background-color: aquamarine;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.plec {
  display: flex; 
  flex-direction: row;
  list-style-type: none; 
  padding: 0px;
}

.literatura {
  list-style-type: none; 
  padding: 0px;
}
