@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --szary_ciemny: rgb(15, 15, 15);
  --szary: rgb(34, 34, 34);
  --szary_jasny: rgb(54, 54, 54);
}

.container,
header,
footer {
  background-color: var(--szary);
}

body {
  margin: 0px;
  padding-top: 0px;
  font-family: "Source Sans Pro", sans-serif;
  background-color:  var(--szary_jasny);
  color: white;
}

a {
  color: red;
}

.container {
  width: 80%;
  min-height: 70vh;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: justify;
  text-justify: auto;
}

header,
footer {
  text-align: center;
  background-color: var(--szary_ciemny);
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 25px;
  width: 100%;
}

h1,
h2,
h3 {
  text-shadow: 1.5px 1.5px darkgrey;
}

.tablee {
  display: flex;
  justify-content: center;
  background-color: var(--szary_ciemny);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  align-self: center;
  
}

caption {
  margin-bottom: 5px;
  font-size: 24px;
}

td {
  border: 1px dashed white;
  width: 80px;
  text-align: center;
}

hr {
  margin-top: 5px;
  border: 1px solid red;
  width: 80%;
}

a:hover {
  background-color: black;
}

a:visited {
  color: red;
}

a:focus {
  font-size: 125%;
}

.container1 {
  margin-top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#llewa{
  margin-right: 1%;
}
.half {
  display: flex;
  width: 50%;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
  background-color: var(--szary_ciemny);
  font-size: 20px;
}
.side-menu-container,
.side-menu,
.side-menu > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
 }
.side-menu-container {
  position: fixed;
  height: 100vh;
  left: 0px;
  z-index: 1;
}
.side-menu > a {
  margin: 5px 0px;
  height: 40px;
  background-color: var(--szary);
}
.side-menu > a:hover {
  margin: 5px 0px;
  height: 40px;
  color: white;
  background-color: black;
}
.Landing_Page img{
  height: 100vh;
  width: 100%;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.nazwa, .logo {
  animation-name: appear;
  animation-duration: 2s;
}

.nazwa:hover, .logo:hover {
  animation-name: rotate;
  animation-duration: 2s;
}

.images-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin: 15px;
  padding-bottom: 25px;
  border: 3px solid black;
  border-radius: 25px 25px;
  background-color: var(--szary_ciemny);
}
.images-container .card {
  width: 90%;
  min-height: 100px;
  background-color: var(--szary);
  margin: 20px 5px;
  padding: 20px 5px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.images-container .card:hover {
  max-height:450px;
  background-color: var(--szary_jasny);
}
.images-container .card .image-box {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 900px;
  max-height: 600px;
  top: -60px;
  z-index: 1;

}
.images-container .card .image-box img {
  position: flex;
  width: 100%;
  height: auto;
  border-radius: 40px;

}
.images-container .card .content-card {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;

}
.images-container .card:hover .content-card {
  margin-top: -40px;
  color: black;
  visibility: visible;
  opacity: 1;
}

.nav-top a {
  background-color: var(--szary);
  border-radius: 10px;
  padding: 7px;
}
